.tienda {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tienda__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 16px;
}

.tienda__cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}


@media (min-width: 960px) {

    .tienda {
        gap: 40px;
    }

    .tienda__container {
        max-width: 1290px;
        padding: 80px 40px;
        gap: 40px;
    }

    .tienda a {
        width: auto;
    }
}