.galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.galeria__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px 16px;
}

.galeria__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px;
    gap: 8px;
}

.grid__item--1 {
    grid-column: 1 / -1;
    grid-row: 1;
}

.grid__item--2 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.grid__item--3 {
    grid-column: 3 / -1;
    grid-row: 2;
}

.grid__item--4 {
    grid-column: 1 / -1;
    grid-row: 3;
}

.grid__item--5 {
    grid-column: 1 / -1;
    grid-row: 4;
    background: #b19d72;
    background: radial-gradient(circle, rgb(234, 194, 107) 0%, rgb(212, 113, 242) 50%, rgb(228, 129, 149) 100%);
}

.grid__item--5 img {
    width: 50%;
    margin: auto;
    object-fit: contain;
    animation: girar 15s infinite normal linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.grid__item--6 {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.grid__item--7 {
    grid-column: 3 / -1;
    grid-row: 5;
}

.grid__item--8 {
    grid-column: 1 / -1;
    grid-row: 6;
}

@media (min-width: 770px) {

    .galeria__container {
        align-items: center;
        max-width: 1290px;
        padding: 80px 40px;
    }

    .galeria__grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: 200px;
        gap: 8px;
    }

    .grid__item--1 {
        grid-column: 1 / -1;
        grid-row: 1 / 3;
    }

    .grid__item--2 {
        grid-column: 1 / 3;
        grid-row: 3 / 6;
    }

    .grid__item--3 {
        grid-column: 7 / 9;
        grid-row: 3 / 5;
    }

    .grid__item--4 {
        grid-column: 7 / -1;
        grid-row: 3 / 5;
    }

    .grid__item--5 {
        grid-column: 3 / 7;
        grid-row: 3 / 6;
    }

    .grid__item--6 {
        grid-column: 1 / 5;
        grid-row: 6 / 8;
    }

    .grid__item--7 {
        grid-column: 5 / 7;
        grid-row: 6 / 8;
    }

    .grid__item--8 {
        grid-column: 7 / -1;
        grid-row: 5 / 8;
    }
}