.formulario__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
}

.formulario__field {
    color: var(--color-text-white);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.formulario__field input, select {
    width: 100%;
    height: 36px;
    padding: 0.5em;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid var(--color-neutral);
    background-color: var(--color-terceary);
}

.formulario__field textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 2px;
    border: 1px solid var(--color-neutral);
    background-color: var(--color-terceary);
}

@media (min-width: 760px) {

    .formulario__content {
        width: 500px;
    }
}