.card {
    position: relative;
    width: 100%;
    height: 185px;
    overflow: hidden;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-tercery);
    transition: all 0.3s;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
    z-index: 0;
}

.card:hover {
    box-shadow: 2px 2px 20px 4px rgba(92, 92, 92, 0.2);
    transform: scale(1.02);
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 16px;
    gap: 16px;
    text-align: start;
    margin: 0 auto;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 600px) {

    .card {
        max-width: 370px;
        height: 400px;
    }

}